body, html {
    height: 100%;
    background: rgb(111,158,158);
    background: radial-gradient(circle, rgba(111,158,158,1) 0%, rgba(0,29,29,1) 100%); 
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}
/* 

*/
